*.a
*.o
*.cmake
*.pyc
Makefile
CMakeFiles
CMakeCache.txt
CMakeScripts
/materials/*.dat
/materials/eadl.all
/materials/epdl97.all
/neg_sphere.dat
/neg_sphere_singles.dat
/neg_sphere_coinc.dat
/pet_benchmark_fast.dat
/bin/
/build
