*.a
*.o
*.cmake
*.pyc
Makefile
CMakeFiles
CMakeCache.txt
CMakeScripts
/materials/*.dat
/materials/eadl.all
/workspace/Gray/Gray
/workspace/test_rand/test_rand
/Gray
/neg_sphere.dat
Gray.build
Gray.xcodeproj
Gray/Debug
/workspace/Gray/Debug
/workspace/Random/test/Debug
/workspace/Random/test/test_rand
