*.a
*.o
*.cmake
*.pyc
Makefile
CMakeFiles
CMakeCache.txt
CMakeScripts
/materials/*.dat
/materials/eadl.all
/materials/epdl97.all
/workspace/Gray/Gray
/workspace/test_rand/test_rand
/Gray
/neg_sphere.dat
/neg_sphere_singles.dat
/pet_benchmark_fast.dat
Gray.build
Gray.xcodeproj
Gray/Debug
/workspace/Gray/Debug
/workspace/Random/test/Debug
/workspace/Random/test/test_rand
/bin/
